# 1.Tipe Data

## String

In [2]:
a = "hacktiv8"

print (a)
print (type (a))

hacktiv8
<class 'str'>

In [3]:
a = '8'

print(a)
print(type(a))

8
<class 'str'>

## Integer

In [12]:
a = 8

print(a)
print(type(a))

8
<class 'int'>

## Boolean

In [14]:
print (type(True))
print (type(False))

<class 'bool'>
<class 'bool'>

## Note

In [12]:
a = 20
a
b = 10
b

10

In [6]:
a = 20
print (a)
b = 10
b

20

10

In [8]:
print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

In [10]:
#error
print('This string contains a single quote (') character.')

SyntaxError: invalid syntax (<ipython-input-10-b40ae92af0c7>, line 2)

In [11]:
#solusi error
print('This string contains a single quote (\') character.')

print("This string contains a double quote (\") character.")

This string contains a single quote (') character.
This string contains a double quote (") character.

# 2.Operator and Expression

In [16]:
a = 10
b = 20
a + b

30

In [19]:
a = 10
b = 20
a + b -10

20

In [31]:
# Arithmetic Operator
a = 4
b = 3

print (a/b)     #pembagian bentuk float (desimal)
print (a//b)    #pembagian bentuk int (pembulatan)
print (a%b)
print (a**b)

1.3333333333333333
1
1
64

# 3.String Manipulation

In [23]:
# + Operators :: concantenate
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t) 
print(s + t + u) 

print('Hacktiv8 ' + 'Inalum')

foobar
foobarbaz
Hacktiv8 Inalum

In [34]:
stu = s + t + u
print (stu)

concantenated_string = 'Hacktiv8' + stu
print (concantenated_string)

# concantenated_string = concantenated_string + 'Inalum'
concantenated_string += 'Inalum'
print (concantenated_string)

foobarbaz
Hacktiv8foobarbaz
Hacktiv8foobarbazInalum

In [35]:
# in Operators

s = 'foo'
print(s * 4)

foofoofoofoo

In [36]:
# in Operators

s = 'foo'
print(s in 'That food for us')

True

In [39]:
# .capitalize() vs .title()

s = 'hello world'
print('Capitalized :  ', s.capitalize())
print('Titled :  ', s.title())

Capitalized :   Hello world
Titled :   Hello World

# 4.Python Lists

## List
- ordered
- mutable
- akses dengan index
- kurung siku ( [ ] )

In [41]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

print(a[0])
print(a[1])
print(a[2])
print(a[3])

['foo', 'bar', 'baz', 'qux']
foo
bar
baz
qux

In [49]:
#Python Lists - negative indices
a = ['foo', 'bar', 'baz', 'qux']

print(a[-1]) #last element
print(a[-2])
print(a[-3])
print(a[-4])

qux
baz
bar
foo

In [52]:
#slicing
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[2:5]

['baz', 'qux', 'quux']

In [71]:
#mutable

a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print (a)

a[2]=10
a[-1]=15

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 15]

In [70]:
#len min max

coins = [12,  300, 45, 100, 4, 90, 87]
print(len(coins))

print(min(coins))

max(coins)

7
4

300

## Tuple
- immutable
- krung biasa ( () )

In [72]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [74]:
#immutable
t[0] = 'zoo'

TypeError: 'tuple' object does not support item assignment

In [78]:
#Single Tuple declaration
single_t = (10,)
print(single_t)

print(type(single_t))

(10,)
<class 'tuple'>

# 5.Python Dictionary

In [79]:
MLB_team = {
   'Colorado': 'Rockies',
   'Boston': 'Red Sox',
   'Minnesota': 'Twins',
   'Milwaukee': 'Brewers',
   'Seattle': 'Mariners'
}

In [82]:
person = {}
print(type(person))

person['fname'] = 'Hack'
person['lname'] = 'Inalum'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

<class 'dict'>