# 1.Conditionals

## Basic IF ELSE

In [2]:
x = 0 
y = 5

if x < y: 
    print ("yes 1")        #True
if y < x: 
    print ("yes 2")        #False
if x: 
    print ("yes 3")        #False (karena diboolean 0 = false)
if y: 
    print ("yes 4")        #True

yes 1
yes 4

In [3]:
weather = 'nice' 

if weather == 'nice':        #Statement True
    print('Mow the lawn')
    print('Weed the garden')
    print('Take the dig for a walk')
    
# print ('outside')          #Statement False

Mow the lawn
Weed the garden
Take the dig for a walk

In [4]:
weather = 'bad' 

if weather == 'nice':      #Statement True
    print('Mow the lawn')
    print('Weed the garden')
    print('Take the dig for a walk')
    
print ('outside')          #Statement False

outside

In [5]:
# weather = 'nice'
weather = 'bad'

if weather == 'nice':
    print('Mow the lawn')
    print('Weed the garden')
    print('Take the dig for a walk')
    
else:
    print('Read a book')
    print('Watch movies')

Read a book
Watch movies

In [11]:
x = 50

if x < 50:
    print("benar")
else : 
    print('salah')

salah

## Elif Statement

In [38]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 5500

if uang > hargaBuku:
    print ('Beli buku')
elif uang > hargaMajalah:
    print ('Beli Majalah')
else: 
    print ('Pulang Aja')

Beli Majalah

In [12]:
name = 'Xander'

if name == 'Hacktiv8':
    print ('Hello Hacktiv8')
elif name == 'Jon':
    print ('Hello Jon')
elif name == 'Xander':
    print ('Hello Xander')
    print ('Hai')
else:
    print ('Hello Unknown')

Hello Xander
Hai

## First call and true, first serve

In [16]:
if 'a' in 'bar':
    print('benar')
elif 1/0:
    print('wow')
elif var:
    print('tes')

benar

## Nested IF

In [18]:
if 'foo' in ['foo', 'bar']:
    print ('Outer')
    
    if 10 > 20:
        print ('Salah')
    print ('Benar')
    
    if 10 < 20:
        print ('Benar1')
        print ('yakin')
    print ('Salah1')
print ('tes')

Outer
Benar
Benar1
yakin
Salah1
tes

## One-line if statement

In [20]:
x = 3

if 's' in 'bars': print('1'); print('2'); print('3')    #using semi colon

1
2
3

## Conditional Expression

In [21]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [22]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [10]:
'''
beach' if not raining else 'library'

if not raining :
	beach
else:
	library
'''

"\nbeach' if not raining else 'library'\n\nif not raining :\n\tbeach\nelse:\n\tlibrary\n"

In [8]:
age = 13
s = 'toddler' if age < 5 else ('teen' if age < 22 else 'adult')
s

'teen'

# 2.Looping

## While

In [95]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [97]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [1]:
n = 5
while n > 0:                          # 5     4      3
    n -= 1                            # 4     3      2
    if n == 2:                        # false false  true
        break # Break Statement       # skip  skip   breakkk
    print(n)                          # 4     3
print('Loop ended.')

4
3
Loop ended.

In [2]:
n = 5
while n > 0:            
    n -= 1              
    if n == 2:          
        continue        
    print(n)            
print('Loop ended.')

4
3
1
0
Loop ended.

In [4]:
n = 5
while n > 2:      
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
Loop done.

In [7]:
a = ['foo', 'bar']

while len(a):             # 2           1           0 False
    print(a.pop(0))       # foo         bar
    
    b = ['baz', 'qux']
    
    while len(b):             # 2  1    2  1
        print('>', b.pop(0))  # >baz   >qux >baz   > qux

foo
> baz
> qux
bar
> baz
> qux

## For

In [9]:
fruits = ['kiwi', 'peach', 'orange']
for item_in_fruits in fruits:
    print(item_in_fruits)

kiwi
peach
orange

In [14]:
d = {'foo': 1, 'bar': 2, 'baz': 3}

for k in d:  
    print(k)
    print("")
    print(d[k])

foo

1
bar

2
baz

3

In [15]:
x = range(5)

for i in x:
    print(i)

0
1
2
3
4

In [16]:
x = range(2,5)
for i in x:
    print(i)

2
3
4

In [17]:
x = range(1, 100, 2)
    
for i in x:
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99